# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
dist
.npm

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDEs and editors
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific
.DS_Store
Thumbs.db
